@model PetCare_system.Models.EmergencyRequestTransport

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmergencyRequestTransport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Driver.DriverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.DriverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
