@model IEnumerable<PetCare_system.Models.EmergencyRequestTransport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Driver.DriverName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pet.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupLatitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupLongitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.DriverName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pet.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupLatitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupLongitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyTypes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RequestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RequestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RequestId })
        </td>
    </tr>
}

</table>
