@model PetCare_system.Models.ChangePasswordsViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@ViewBag.Title</h3>
                </div>
                <div class="panel-body">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Success!</strong> @TempData["SuccessMessage"]
                        </div>
                    }
                    else if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            <strong>Reminder:</strong> Please choose a strong new password.
                        </div>
                    }

                    @using (Html.BeginForm("ChangePassword", "TrainerAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.CurrentPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", placeholder = "Enter current password", autocomplete = "current-password" })
                                @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Enter new password", autocomplete = "new-password" })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })

                                <div class="progress" style="margin-top: 5px; height: 5px;">
                                    <div id="password-strength-bar" class="progress-bar" role="progressbar" style="width: 0%"></div>
                                </div>
                                <small class="text-muted">
                                    Requirements:
                                    <ul>
                                        <li id="length-requirement">At least 8 characters</li>
                                        <li id="uppercase-requirement">One uppercase letter</li>
                                        <li id="lowercase-requirement">One lowercase letter</li>
                                        <li id="number-requirement">One number</li>
                                        <li id="special-requirement">One special character</li>
                                    </ul>
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm new password", autocomplete = "new-password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit" id="submit-btn" class="btn btn-primary">
                                    <i class="fa fa-key"></i> Change Password
                                </button>
                                <a href="@Url.Action("Dashboard", "Trainers")" class="btn btn-default">
                                    <i class="fa fa-home"></i> Back to Dashboard
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            // Password strength indicator
            $('#NewPassword').on('input', function () {
                var password = $(this).val();
                var strength = 0;

                // Validate length
                if (password.length >= 8) {
                    strength += 20;
                    $('#length-requirement').css('color', 'green');
                } else {
                    $('#length-requirement').css('color', 'red');
                }

                // Uppercase
                if (/[A-Z]/.test(password)) {
                    strength += 20;
                    $('#uppercase-requirement').css('color', 'green');
                } else {
                    $('#uppercase-requirement').css('color', 'red');
                }

                // Lowercase
                if (/[a-z]/.test(password)) {
                    strength += 20;
                    $('#lowercase-requirement').css('color', 'green');
                } else {
                    $('#lowercase-requirement').css('color', 'red');
                }

                // Number
                if (/[0-9]/.test(password)) {
                    strength += 20;
                    $('#number-requirement').css('color', 'green');
                } else {
                    $('#number-requirement').css('color', 'red');
                }

                // Special character
                if (/[^A-Za-z0-9]/.test(password)) {
                    strength += 20;
                    $('#special-requirement').css('color', 'green');
                } else {
                    $('#special-requirement').css('color', 'red');
                }

                $('#password-strength-bar').css('width', strength + '%');

                if (strength < 40) {
                    $('#password-strength-bar').removeClass('progress-bar-success progress-bar-warning')
                                               .addClass('progress-bar-danger');
                } else if (strength < 80) {
                    $('#password-strength-bar').removeClass('progress-bar-danger progress-bar-success')
                                               .addClass('progress-bar-warning');
                } else {
                    $('#password-strength-bar').removeClass('progress-bar-danger progress-bar-warning')
                                               .addClass('progress-bar-success');
                }
            });

            // Prevent double submit
            $('form').submit(function () {
                var password = $('#NewPassword').val();
                var confirmPassword = $('#ConfirmPassword').val();

                if (password !== confirmPassword) {
                    alert('Passwords do not match!');
                    return false;
                }

                $('#submit-btn').prop('disabled', true)
                    .html('<i class="fa fa-spinner fa-spin"></i> Processing...');

                return true;
            });
        });
    </script>

    <style>
        .text-muted ul {
            padding-left: 20px;
            margin-top: 5px;
            margin-bottom: 0;
        }

        .progress {
            margin-bottom: 5px;
        }

        .panel-primary {
            margin-top: 30px;
        }
    </style>
}
